*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.class
.DS_Store
.classpath
.settings/
.project

release/.m2/settings.xml
release/.m2/repository/
release/.m2/copy_reference_file.log
release/.m2/settings-docker.xml
callstats-java-sdk/config/callstats-java-sdk.properties
callstats-java-sdk/config/log4j2.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
