<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
		<Property name="log-path">logs</Property>
	</Properties>
    <Appenders>
        <File name="trace-log" fileName="${log-path}/cs.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d %-5p (%F:%L) - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
    	<Logger name="org.apache.log4j.xml" level="debug"/>
    	<Logger name="org.apache.log4j.xml" level="info"/>
        <Root level="debug">
            <AppenderRef ref="trace-log"/>
        </Root>
        <Root level="info">
            <AppenderRef ref="trace-log"/>
        </Root>
    </Loggers>
</Configuration>